
<ul id="tree" style="z-index: 0;">
  <li *ngFor="let category of categorias">
    <input type="checkbox"  />
    <span id="p{{category.idCategoria}}"  (click)="onCategory(category.idCategoria)"
    [ngStyle]="{'font-weight': category.parentId==null ? 'bold' : 'normal'}"
      (mouseup)="detectRightMouseClick($event, category.idCategoria)"
        class="clickable btn-azul">{{category.idCategoria}}. {{category.nombreCategoria | titlecase}} <!-- - {{category.idCategoria}} --></span>
      <app-tree-directory [categorias]="category.subcategorias" (categoryId)="onCategory($event)"  (mouseup)="detectRightMouseClick($event,category.idCategoria)" *ngIf="category.subcategorias"></app-tree-directory>
      <!-- (mouseup)="detectRightMouseClick($event,category.idCategoria)" -->
  </li>
</ul>








































<!-- <ul id="tree">
  <li *ngFor="let categoria of categorias; let x=index">
    <input type="checkbox" *ngIf="categoria.isFolder;" />
    <span id="p{{categoria.id}}" (click)="onCategory(categoria.id)" aria-label="nj" class="clickable btn-azul">{{categoria.nombre}} - {{categoria.id}}</span>
    <ul>

        <li *ngFor="let sub of categoria.children; let j=index">
          <input type="checkbox" *ngIf="sub.isFolder;" />
          <span id="p{{sub.id}}" (click)="onCategory(sub.id)" aria-label="nj" class="clickable btn-azul">{{sub.nombre}} - {{sub.id}}</span>
          <ng-template id="p{{sub.id}}" (click)="onCategory(sub.nombre,sub.id)" aria-label="nj" class="clickable btn-azul">{{sub.nombre}} - {{sub.id}}</ng-template>
        <ul>

            <li  *ngFor="let category of sub.children; let i=index">
                <input  type="checkbox" *ngIf="category.children.length>0;" />
                <span id="p{{category.id}}" (click)="onCategory(category.id)" class="clickable btn-azul">{{category.nombre}} - {{category.id}}</span>
            </li>

        </ul>
      </li>
    </ul>
  </li>
</ul> -->



  <!-- <li>
    <input type="checkbox" />
    <span>Papeleria</span>
    <ul>
      <li>
        <input type="checkbox" />
        <span>Oficina</span>
        <ul>
          <li><span class="clickable" >Plumas</span></li>
          <li><span class="clickable">Cuadernos</span></li>
        </ul>
      </li>
      <li>
        <input type="checkbox" />
        <span class="clickbale">this is a long folder name</span>
        <ul>
          <li><span class="clickbale ">this is a long file name</span></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <input type="checkbox"/>
    <span>folder11</span>
    <ul>

      <li><input type="checkbox"/><span class="clickbale">file111</span></li>
      <li><span class="clickbale">file112</span></li>
    </ul>
  </li>
  <li>
    <input type="checkbox"/>
    <span class="selected">this is a long folder name</span>
  </li> -->
