<div style="border:1px solid gray; min-width: 300px">
  <div style="background-color: #631231; color: white; padding:4px 4px 4px 4px"> <strong>{{titleForm | titlecase}}
    {{ title | titlecase}} [{{elementForm.value.idMarca}}]</strong></div>
  <form class="  p-3 ">
    <div class="row">

      <form [formGroup]="elementForm">

        <div class="mb-3 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">{{title | titlecase}}</label>
          <div class="col-sm-10">
            <input type="text" formControlName="marca" class="form-control" id="marca" value="">
            <span class="text-danger fs-6 fst-italic" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
              <span *ngIf="marca.errors?.['required']">- Marca no puede estar vacío</span>
            </span>
          </div>
        </div>

      </form>

    </div>

    <div class="col-auto mt-3 text-end">
      <button (click)="onSubmit()" [disabled]="!elementForm.value.marca" class="btn btn-guinda mb-3 me-2">{{buttonForm}}
        <div class="spinner-border spinner-border-sm" *ngIf="spinnerForm" role="status"></div>
      </button>
      <button (click)="onReset()" [disabled]="!elementForm.value.marca"
        class="btn btn-secondary mb-3 me-3 ">Limpiar</button>
    </div>
  </form>
</div>
