<div style="border:1px solid gray; min-width: 300px">
  <div style="background-color: #631231; color: white; padding:4px 4px 4px 4px"> <strong>{{titleForm | titlecase}}
    {{ title | titlecase}} [{{elementForm.value.idProveedor}}]</strong></div>
  <form class="  p-3 ">
    <div class="row">

      <!-- <div class="col-auto">
        <label for="staticEmail2" class="visually-hidden">label</label>
        <input type="text" readonly class="form-control-plaintext" id="staticCategoria" value="{{ title | titlecase}}">
      </div>
      <div class="col-auto">
        <label for="inputPassword2" class="visually-hidden">label</label>
        <input type="text" [(ngModel)]="elementSelected.nombreProveedor" class="form-control" name="{{title}}" id="{{title}}"
          placeholder="">
      </div> -->
      <form [formGroup]="elementForm">

        <div class='field'>
          <label for='proveedor'>Proveedor</label>
          <input class="form-control" type='text' formControlName="nombreProveedor" id='Proveedor' autocomplete="off" name='Proveedor' />
          <div class="text-danger text-end fs-6 fst-italic" *ngIf="nombreProveedor.invalid && (nombreProveedor.dirty || nombreProveedor.touched)">
            <span *ngIf="nombreProveedor.errors?.['required']">
              - Campo Obligatorio
            </span>
          </div>
        </div>
        <div class='field'>
          <label for='proveedor'>Direccion</label>
          <input class="form-control" type='text' formControlName="direccionProveedor" id='direccionProveedor' autocomplete="off" name='direccionProveedor' />
          <div class="text-danger text-end fs-6 fst-italic" *ngIf="direccionProveedor.invalid && (direccionProveedor.dirty || direccionProveedor.touched)">
            <span *ngIf="direccionProveedor.errors?.['required']">
              - Campo Obligatorio
            </span>
          </div>
        </div>
        <div class='field'>
          <label for='proveedor'>Telefono</label>
          <input class="form-control" type='text' formControlName="telefonoProveedor" id='telefonoProveedor' autocomplete="off" name='telefonoProveedor' />
          <div class="text-danger text-end fs-6 fst-italic" *ngIf="telefonoProveedor.invalid && (telefonoProveedor.dirty || telefonoProveedor.touched)">
            <span *ngIf="telefonoProveedor.errors?.['required']">
              - Campo Obligatorio
            </span>
          </div>
        </div>
        <div class='field'>
          <label for='proveedor'>Email</label>
          <input class="form-control" type='text' formControlName="emailProveedor" id='emailProveedor' autocomplete="off" name='emailProveedor' />
          <div class="text-danger text-end fs-6 fst-italic" *ngIf="emailProveedor.invalid && (emailProveedor.dirty || emailProveedor.touched)">
            <span *ngIf="emailProveedor.errors?.['required']">
              - Campo Obligatorio
            </span>
          </div>
        </div>
      </form>
    </div>

    <div class="col-auto mt-3 text-end">
      <button (click)="onSubmit()" [disabled]="elementForm.invalid" class="btn btn-guinda mb-3 me-2">{{buttonForm}}
        <div class="spinner-border spinner-border-sm" *ngIf="spinnerForm" role="status"></div>
      </button>
      <button (click)="onReset()" [disabled]="elementForm.invalid" class="btn btn-secondary mb-3 me-3 ">Limpiar</button>
    </div>
  </form>
</div>
<pre>
  {{elementForm.value | json}}
</pre>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active"
  >Active item</a
  >
  <a href="#" class="list-group-item list-group-item-action"
  >Item</a
  >
  <a href="#" class="list-group-item list-group-item-action disabled"
  >Disabled item</a
  >
</div>
<br><br><br><!-- Hover added -->
