<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-menu">
  <div class="container-fluid xms-3">

    <a class="navbar-brand" href="/"> <img class="brand-logo" src="/assets/logos/infotec-logo-bar-3.png" alt=""> </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

        <li class="nav-item ms-3"> <a class="nav-link  btn-gris btn-sm" routerLink="/dashboard" aria-current="page" href="#">Dashboard</a> </li>
        <li class="nav-item dropdown">
          <a class="nav-link btn-gris dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Productos</a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/productos'" class="dropdown-item">Lista de Productos &raquo;</a></li>
            <li><a [routerLink]="'/'" class="dropdown-item">Productos Inactivos &raquo;</a></li>
            <li><a [routerLink]="'/catalogos/marcas'" class="dropdown-item"> Marcas&raquo;</a></li>
            <li><a [routerLink]="'/catalogos/unidades-medida'" class="dropdown-item"> Unidades de Medida&raquo;</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link btn-gris dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Entradas</a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/entradas/ordenes-de-compra'" class="dropdown-item">Ordenes de Compra &raquo;</a></li>
            <li><a [routerLink]="'/catalogos/proveedores'" class="dropdown-item">Proveedores <i class="bi bi-bookmark-fill text-warning"></i> </a> </li>
            <li><a [routerLink]="'/entradas/devoluciones'" class="dropdown-item">Devoluciones &raquo;</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link btn-gris dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Almacenes</a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/almacenes/movimientos'" class="dropdown-item">Movimientos &raquo;</a></li>
            <li><a [routerLink]="'/catalogos/almacenes'" class="dropdown-item">Almacenes <i class="bi bi-bookmark-fill text-warning"></i> </a> </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link btn-gris dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">Salidas</a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/salidas/pedidos'" class="dropdown-item">Pedidos &raquo;</a></li>
            <li><a [routerLink]="'/salidas/departamentos'" class="dropdown-item">Departamentos <i class="bi bi-bookmark-fill text-warning"></i></a></li>
          </ul>
        </li>

      </ul>



      <ul class="navbar-nav ms-auto ">

        <!-- notificaciones -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link btn-gris dropdown-toggle" href="#" id="navbarDropdownMenuLink"
            data-bs-toggle="dropdown"><i class="bi bi-bell"></i> </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="'/'" class="dropdown-item">Clientes &raquo;</a></li>
            <li><a [routerLink]="'/'" class="dropdown-item">Servicios <i
                  class="bi bi-bookmark-fill text-warning"></i> </a> </li>
            <li><a [routerLink]="'/'" class="dropdown-item">Vehiculos &raquo;</a></li>
          </ul>
        </li> -->


        <li ngbDropdown class="nav-item dropdown">
          <button type="button" class="btn btn-primary" style="margin-top: 1px" id="dropdownBasic1" ngbDropdownToggle> <i class="bi bi-plus-lg"></i> </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="'salidas/usuarios'"><i class="bi bi-plus-circle"></i> Cliente </button>
            <button ngbDropdownItem [routerLink]="'catalogos/proveedores'"><i class="bi bi-plus-circle text-primary"></i> Proveedor</button>
            <button ngbDropdownItem [routerLink]="'catalogos/almacenes'"><i class="bi bi-plus-circle text-primary"></i> Almacen</button>
            <button ngbDropdownItem [routerLink]="''"><i class="bi bi-plus-circle"></i> Entrada</button>
            <button ngbDropdownItem [routerLink]="''"><i class="bi bi-plus-circle"></i> Salida</button>
            <button ngbDropdownItem [routerLink]="'catalogos/marcas'"><i class="bi bi-plus-circle text-primary"></i> Marca</button>
            <button ngbDropdownItem [routerLink]="'catalogos/unidades-medida'"><i class="bi bi-plus-circle text-primary"></i> Unidad de Medida</button>
            <button ngbDropdownItem [routerLink]="'catalogos/roles'"><i class="bi bi-plus-circle text-primary"></i> Roles</button>
            <button ngbDropdownItem [routerLink]="'catalogos/atributos'"><i class="bi bi-plus-circle"></i> Atributos</button>
            <button ngbDropdownItem [routerLink]="'catalogos/tipos-producto'"><i class="bi bi-plus-circle"></i> Tipo de Producto</button>
          </div>
        </li>

        <li ngbDropdown class="nav-item dropdown">
          <button type="button" class="btn btn-gris" id="dropdownBasic1" ngbDropdownToggle>
            <i class="bi bi-building-fill-check"></i> {{almacenSelected.nombreAlmacen | titlecase}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let almacen of almacenes" (click)="onAlmacen(almacen)">{{almacen.nombreAlmacen | titlecase}}</button>
          </div>
        </li>


        <!-- configuracion -->
        <li ngbDropdown class="nav-item dropdown">
          <button type="button" class="btn btn-gris" id="dropdownBasic1" ngbDropdownToggle> <i class="bi bi-gear"></i> </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="'catalogos/usuarios'"><i class="bi bi-plus-circle"></i> Usuarios </button>
            <button ngbDropdownItem [routerLink]="'catalogos/roles'"><i class="bi bi-plus-circle text-primary"></i> Roles</button>
          </div>
        </li>

        <li class="nav-item dropdown   ">
          <a class="nav-link btn-gris  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> {{user.username}}
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"><i class="bi bi-person-circle"></i> MiPerfil</a></li>
            <li><button class="dropdown-item" (click)="onLogout()"><i class="bi bi-door-closed"></i> Cerrar Sesión</button></li>
          </ul>
        </li>

        <li class="nav-item"  (click)="onLogout()">
          <a class="nav-link  btn-guinda btn-sm" routerLink="/logout" aria-current="page" href="#">
            <i class="bi bi-x-lg ps-2 pe-2"></i>
          </a>
        </li>

      </ul>

    </div>
  </div>

</nav>

