.btn-guinda{
  background-color: #631231;
  color: white
}
.btn-guinda:hover{
  background-color: #740c34;
  color: white
}

.btn-verde{
  background-color: #205b4f;
  color: white
}
.btn-verde:hover{
  background-color: #388677;
  color: white
}

.btn-end-right{
  position: relative;
  top: 8px;
  right: 23px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.bg-rojo-light{
  background-color: #ffaeb6;
  color: black
}
.bg-amarillo-light{
  background-color: #ffe28d;
  color: black
}
