
.menu {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f3;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 5px 0;
  z-index: 1000;
  width: 165px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: 1px solid #631231;
}
.menu > li > a {
  cursor: pointer;
  font: inherit;
  border: 0;
  padding: 5px 30px 5px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #fff;
  font-weight: 500;
  /* transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear; */
}
.menu > li > a:hover {
  background:#631231;
  color: #dee0e4 !important;
}
.menu > li > a > i {
  padding-right: 10px;
}
.menu > li.trash > a:hover {
  background:#b1b3b6;
}
