/* modals */

.generic-modal {
  text-align: left;
  width:800;

  .modal-title{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #631231;
    color: white;
    padding: 6px;
  }

  .modal-dialog {
      max-width: 750px;
  }

}
