<div class="mt-3 ms-3 me-3">

  <div class="row">
    <div class="text-end">
      <ul class="nav nav-tabs">
        <li class="nav-item"> <a class="nav-link active" aria-current="page"><strong>{{ title | titlecase}}</strong></a> </li>
        <li>
          <div class="text-center" *ngIf="spinnerTable">
          <div class="spinner-border spinner-border-sm ms-3 mt-3"  role="status"></div> {{message}} ...
        </div>
      </li>
      </ul>
    </div>
    <div class=" ps-2  pt-2 pb-2" style="background-color:#fff;  border-left: 1px solid #dee2e6; ">
    </div>
  </div>

  <div class="row" style="background-color: white; border-left: 1px solid #dee2e6;">
    <div class="col-md-8">
      <table class="table table-responsive table-striped table-hover tbl-data">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ title | titlecase}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of elements">
            <td scope="row">{{item.idTipoProducto}}</td>
            <td (click)="onRow(item.idTipoProducto)" class="clickable">{{item.tipoProducto}}</td>
            <td>
              <i class="bi bi-trash3 clickable  text-danger me-2" (click)="onDelete(item.idTipoProducto)"></i>
              <i class="bi bi-pencil-square clickable" (click)="onEdit(item)"></i>
            </td>
          </tr>
        </tbody>
      </table>


    </div>

    <div class="col-md-4 ps-3 pe-3">
      <app-tipo-producto-form
        [elementForm] = "elementForm"
        (temp)="updateElements($event)">
      </app-tipo-producto-form>
    </div>

  </div>
</div>


<!-- Search Bottom Bar  -->
<nav class="navbar fixed-bottom navbar-light  ps-2 " [ngStyle]="{height: bottomBarSize}"
  style="height: 100px; border-top:1px solid #afb0b4 ;background-color: #d9dadf;">

  <i class="arrow-up" *ngIf="!isMaximized" (click)="maximize()" style="position: absolute; top:-1px; left: 50dvw;"></i>
  <i class="arrow-down" *ngIf="isMaximized" (click)="minimize()" style="position: absolute; top:-1px; left: 50dvw;"></i>

  <table style="width: 100%; height: 180px">
    <tr>
      <td class="pb-2"><input type="text" name="" id="" placeholder="ej. herramientas" style="width:100%" (keyup.enter)="maximize()"></td>
      <td class="pb-2" style="width:85px"><button class="btn btn-secondary btn-sm">Buscar <i class="bi bi-search"></i></button></td>
    </tr>
    <tr style="border-top: 1px solid #afb0b4;"> <td> <h4>Filtros</h4> </td> </tr>
    <tr>
      <td style="height:110px; vertical-align: top;">
        <div class="p-3">
          Status
          <select class="form-select" aria-label="Default select example" style="width: 250px">
            <option selected>Seleccione</option>
            <option value="1">Nuevo</option>
            <option value="2">Procesado</option>
            <option value="3">En Camino</option>
            <option value="4">Recibido</option>
          </select>
        </div>
      </td>
    </tr>
  </table>

</nav>
