/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/css/loaders.css";
@import "./assets/css/contextMenu.css";
@import "./assets/css/buttons.css";
@import "./assets/css/sweetalert.css";
/* @import "./assets/css/treeDirectory.css"; */


body{
    height: 100%;
    margin: 0px;

}

.clickable{
  cursor: pointer;
}

.round-bar-beige{
  background: linear-gradient(180deg, rgba(217,205,186,1) 35%, #d9c29d);
  color:black;
}

/* navigation */
.page-link{
  color: #631231 !important;
}

.bg-guinda{
  background-color: #631231 !important;
  border: 1px solid #7e143d !important;
  color: white !important;
}

.bg-gris{
  background-color: #d9dadf;
}
.arrow-up{
  width: 39px;
  height: 12px;
  background-image: url('/assets/buttons/arrow_up.png');
  cursor: pointer
}
.arrow-down{
  width: 39px;
  height: 12px;
  background-image: url('/assets/buttons/arrow_down.png');
  cursor: pointer
}

 th{

  background-color: #631231;
}
.tbl-data{
  font: normal 12px / 13px tahoma, arial, verdana, sans-serif;

}
.table>:not(caption)>*>th {

  background-color: #631231;
  color: white;
}
.tbl-verde>:not(caption)>*>th {

  background-color: #205b4f;
  color: white;
}




/* modals */

.my-modal {
  text-align: left;
  .modal-title{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #631231;
    color: white;
    padding: 6px;
  }
  .modal-dialog {
      max-width: 650px;
  }
}


